<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>INDEX</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<h1>List User</h1>

<table>
    <a href="/add">Add User</a>
    <tr>
        <th>ID</th>
        <th>Password</th>
        <th>Phone</th>
        <th>Username</th>
        <th>Action</th>
    </tr>

    <tr th:if="${lsUser.empty}">
        <td colspan="2"> No Users Available </td>
    </tr>
    <tr th:each="user : ${lsUser}">
        <td><span th:text="${user.id}"> ID </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
        <td><span th:text="${user.phone}"> Phone </span></td>
        <td><span th:text="${user.username}"> Username </span></td>
        <td>
            <a th:href="@{/edit?id={id}(id=${user.id})}" >Edit</a>
            <a th:href="@{/delete?id={id}(id=${user.id})}" >Delete</a>
        </td>
    </tr>

</table>

</body>
</html>
